.red {
    color: red;
}

.navy {
    color: navy;   
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none !important;
}

table {
    width: 500px;   
}

th {
    text-align: left;
    background-color: #efefef;
}
